:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  overflow: hidden;
  overscroll-behavior: none;

  /* must be here, so it affects "rem" units */
  font-size: min(3.0vw, 3.0vh);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #888;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/*
this app is intended to be used in portrait orientation, so if in landscape, reduce the screen to at most square size.
 */
.AppFrame {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  max-width: 100vh;

  /*
  Hide scrollbars. The inner content will usually have a sticky footer and its own scrollbars within the content
  section above that.
   */
  overflow: hidden;
}

/* I'm sorry if anybody wants to copy'n'paste text out, but this interferes with the UI too much. */
* {
  user-select: none;
}
