
/**********************************************************************************************************************
document and element styles
**********************************************************************************************************************/

html {
    margin: 0;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* I'm sorry if anybody wants to copy'n'paste text out, but this interferes with the UI too much. */
/* TODO re-check if this is stil the case in a simple problem database */
* {
    user-select: none;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/**********************************************************************************************************************
printing styles
**********************************************************************************************************************/

@page wide {
    size: a4 portrait;
    margin: 0.75in;
}

/**********************************************************************************************************************
simple re-usable styles
**********************************************************************************************************************/

.thinTable {
    border-collapse: collapse;    
}

.thinTable th, .thinTable td {
    border: 1px solid #aaa;
    padding: 0.3em;
    text-align: center;
    min-width: 1.5em;
}

.thinTable th {
    background-color: #cef;
}

.thinTable td {
    background-color: #ffe;
}
