
.equation {
    position: relative;
}

.arrowContainer {
    position: absolute;
    right: 6em;
    bottom: -2em;
    cursor: pointer;
}

.arrowContainer:hover {
    background-color: #ccc;
}

.arrow {
    display: inline-block;
    transform: rotate(90deg);
    font-size: 2em;
}
