
.all {
    width: 100%;
    height: 100%;
}

.fadeInDelay0 {
    animation: fadeInDelay0 0.5s;
}
@keyframes fadeInDelay0 {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}

.fadeInDelay1 {
    animation: fadeInDelay1 1.0s;
}
@keyframes fadeInDelay1 {
    0% {
        opacity: 0;
        pointer-events: none;
    }
    80% {
        opacity: 0;
        pointer-events: none;
    }
    100% {
        opacity: 1;
        pointer-events: all;
    }
}
