
.numberKeyboard {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0.1em;
    background-color: #ffe;
    table-layout: fixed;
}

.numberKeyboard td {
    border: 1px solid #aaa;
    padding: 0.5em;
    text-align: center;
    cursor: pointer;
}
