
html.exerciseSheet {
  overflow: hidden;
  overscroll-behavior: none;

  /* must be here, so it affects "rem" units */
  /* TODO use width, not height, in general for all text? Works best for fixed-width document with predictable line breaks */
  font-size: min(3.0vw, 3.0vh);
}

html.exerciseSheet body {
  background-color: #888;
}

/*
this app is intended to be used in portrait orientation, so if in landscape, reduce the screen to at most square size.
 */
.ExerciseSheetAppFrame {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  max-width: 100vh;

  /*
  Hide scrollbars. The inner content will usually have a sticky footer and its own scrollbars within the content
  section above that.
   */
  overflow: hidden;
}
